lol_dht22/aclocal.m4 lol_dht22/autogen.sh lol_dht22/config.h lol_dht22/config.h.in lol_dht22/config.log lol_dht22/config.status lol_dht22/configure lol_dht22/configure.in lol_dht22/depcomp lol_dht22/dht22.c lol_dht22/dht22.o lol_dht22/install-sh lol_dht22/locking.c lol_dht22/locking.h lol_dht22/locking.o lol_dht22/loldht lol_dht22/Makefile lol_dht22/Makefile.am lol_dht22/Makefile.in lol_dht22/missing lol_dht22/README lol_dht22/stamp-h1
