{% extends "base.html" %}

{% block content %}

<div class="well well-lg" id="well2" style="max-width:900px;">
        <h3><b>Mesh Network Map</b></h3>
        <br>
<div class="row" align="left">

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<style>

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  pointer-events: none;
}

</style>

<script>

var links = [
  {source: "Microsoft", target: "Amazon", type: "licensing"},
  {source: "Microsoft", target: "HTC", type: "licensing"},
  {source: "Samsung", target: "Apple", type: "suit"}
];

var nodes = {};

// Compute the distinct nodes from the links.
links.forEach(function(link) {
  link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
  link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
});

var width = 900,
    height = 300;

var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([width, height])
    .linkDistance(65)
    .charge(-175)
    .on("tick", tick)
    .start();

var svg = d3.select("body").select("center").select("#well2").append("svg")
    .attr("width", width)
    .attr("height", height);

var link = svg.selectAll(".link")
    .data(force.links())
    .enter()
    .append("line")
    .attr("class", "link");

var node = svg.selectAll(".node")
    .data(force.nodes())
    .enter().append("g")
    .attr("class", "node")
    .on("mouseover", mouseover)
    .on("mouseout", mouseout)
    .call(force.drag);

node.append("circle")
    .attr("r", 20)
    .style("fill", function(d) { return "#"+((1<<24)*Math.random()|0).toString(16) });

node.append("text")
    .attr("x", 20)
    .attr("dy", ".40em")
    //.style("text-anchor", "middle")
    .style("font-weight","bold")
    .text(function(d) { return d.name; });

function tick() {
  link
      .attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

  node
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

}

function mouseover() {
  d3.select(this).select("circle").transition()
      .duration(400)
      .attr("r", 40);
}

function mouseout() {
  d3.select(this).select("circle").transition()
      .duration(400)
      .attr("r", 20);
}

</script>



	</div>
</div>

<div class="well well-lg" style="max-width:900px;">
	<h3><b>Admin</b></h3>
        <br>
        <div class="row" align="left">
			{% for user, obj in g.user.manager.users.items() %}
				<b>{{user}}</b><br>
				Phone MAC: {{obj.phone}}<br>
				Setpoint: {{obj.setpoint}}<br>

				{% if obj.events %}
				Events:<br>
					{% for event in obj.events %}
				 		Event_Alias:{{event.alias}}<br>
				 	{% endfor %}
				{% endif %}

				{% if obj.actions %}
					Actions: {{obj.actions}}<br>
				{% endif %}

				{% if obj.rules %}
					Rules: {{obj.rules}} <br>
				{% endif %}
				<br>
			{% endfor %}
        </div>
</div>
	

{% endblock %}
