{% extends "base.html" %}

{% block content %}

<style>

	path.link {
	  fill: none;
	  stroke: #666;
	  stroke-width: 1.5px;
	}

	marker#licensing {
	  fill: green;
	}

	path.link.licensing {
	  stroke: green;
	}

	path.link.resolved {
	  stroke-dasharray: 0,2 1;
	}

	circle {
	  fill: #ccc;
	  stroke: #333;
	  stroke-width: 1.5px;
	}

	text {
	  font: 10px sans-serif;
	  pointer-events: none;
	}

	text.shadow {
	  stroke: #fff;
	  stroke-width: 3px;
	  stroke-opacity: .8;
	}

	#slider {
	    margin: 10px 5px 5px 5px;
	}

</style>


<div class="well well-lg" id="well2" style="max-width:900px;">
        <h3><b>Mesh Network Map</b></h3>
        <br>
	<div class="row" align="left">
		<div id="slider"></div>
		<div id="graph"></div>
	</div>
</div>

<div class="well well-lg" style="max-width:900px;">
	<h3><b>Admin</b></h3>
        <br>
        <div class="row" align="left">
			{% for user, obj in g.user.manager.users.items() %}
				<b>{{user}}</b><br>
				Phone MAC: {{obj.phone}}<br>
				Setpoint: {{obj.setpoint}}<br>

				{% if obj.events %}
				Events:<br>
					{% for event in obj.events %}
				 		Event_Alias:{{event.alias}}<br>
				 	{% endfor %}
				{% endif %}

				{% if obj.actions %}
					Actions: {{obj.actions}}<br>
				{% endif %}

				{% if obj.rules %}
					Rules: {{obj.rules}} <br>
				{% endif %}
				<br>
			{% endfor %}
        </div>
</div>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

<script>
var links = [ 
{% for node in nodes %}
	{source: "{{ node.source }}", target: "{{ node.target }}", type: "suit", cost: "{{node.cost}}" },
{% endfor %}

];

//[
//    {source: "Apple", target: "Nokia", type: "resolved",cost:"25"},
//  {source: "Qualcomm", target: "Nokia", type: "resolved",cost:"30"},
//  {source: "Apple", target: "Motorola", type: "suit",cost:"35"},
//  {source: "Microsoft", target: "Motorola", type: "suit",cost:"40"},
//  {source: "Motorola", target: "Microsoft", type: "suit",cost:"45"}
//];

var nodes = {};

// Compute the distinct nodes from the links.
links.forEach(function(link) {
  link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
  link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
});

var w = 900,
    h = 400;

var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([w, h])
    .linkDistance(200)
    .charge(-300)
    .on("tick", tick)
    .start();

var svg = d3.select("#graph").append("svg:svg")
    .attr("width", w)
    .attr("height", h);

// Per-type markers, as they don't inherit styles.
svg.append("svg:defs").selectAll("marker")
    .data(["suit", "licensing", "resolved"])
  .enter().append("svg:marker")
    .attr("id", String)
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 16.5)
    .attr("refY", -1.5)
    .attr("markerWidth", 12)
    .attr("markerHeight", 12)
    .attr("orient", "auto")
  .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

var path = svg.append("g").selectAll("path")
.data(force.links())
.enter()
.append("g")
.attr("class", "link-group")
.append("path")
    .attr("class", "link")
    .attr("id", function(d, i) { return "link" + i;})
    .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });
	
	svg.selectAll(".link-group").append("text")
	.attr("dy", "-0.5em")
	.append("textPath")
	.attr("startOffset",function(d,i){return 8/20;})
	.attr("xlink:href",function(d,i){return "#link"+i;})
    .text(function(d) {
        return d.cost;
    });
    

var circle = svg.append("svg:g").selectAll("circle")
    .data(force.nodes())
  .enter().append("svg:circle")
    .attr("r", 15)
    .style("fill", function(d) { return "#"+((1<<24)*Math.random()|0).toString(16) })
    .call(force.drag);

var text = svg.append("svg:g").selectAll("g")
    .data(force.nodes())
  .enter().append("svg:g");

// A copy of the text with a thick white stroke for legibility.
text.append("svg:text")
    .attr("x", 8)
    .attr("y", ".31em")
    .attr("class", "shadow")
    .text(function(d) { return d.name; });

text.append("svg:text")
    .attr("x", 8)
    .attr("y", ".31em")
    .text(function(d) { return d.name; });

// Use elliptical arc path segments to doubly-encode directionality.
function tick() {
  path.attr("d", function(d) {
    var dx = d.target.x - d.source.x,
        dy = d.target.y - d.source.y,
        dr = Math.sqrt(dx * dx + dy * dy);
    return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
  });

  circle.attr("transform", function(d) {
    return "translate(" + d.x + "," + d.y + ")";
  });

  text.attr("transform", function(d) {
    return "translate(" + d.x + "," + d.y + ")";
  });
}

$(function() {
    $( "#slider" ).slider({
        min: 1,
        max: 30,
        value: 10,
        slide: function( event, ui ) {
        
      	svg.transition().duration(100)
                .selectAll("circle").attr("r", ui.value);
        svg.transition().duration(100)
                .selectAll("marker").attr("markerWidth", ui.value).attr("markerHeight", ui.value);

    }});
});
</script>












{% endblock %}
