{% extends "base.html" %}

{% block content %}

<div class="well well-lg" style="max-width:900px;">
	<h3><b>Gateway</b></h3>

	<div class="row">

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Shutdown</b></h3>
                </div>
                <form method="POST">
	                <div class="panel-body">
	                    <button type="submit" name="SHUTDOWN" class="btn btn-danger">
							<span class="mega-octicon octicon-plug"></span>
						</button>
	                </div>
                </form>
            </div>
        </div>

	<div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Reboot</b></h3>
                </div>
                <form method="POST">
	                <div class="panel-body">
	                    <button type="submit" name="REBOOT" class="btn btn-warning">
							<span class="mega-octicon octicon-issue-reopened"></span>
						</button>
	                </div>
                </form>
            </div>
        </div>

    </div>

</div>
{% endblock %}

