	{% extends "base.html" %}

	{% block content %}
	<div class="well well-lg" style="max-width:900px;">
		<div class="row">

			<h2> <b>Graphs</b>
			</h2>
			<br>	

			<div class="col-md-12">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Temperatures and Humidity</h3>
					</div>
					<div class="panel-body">
						<div id="graphdiv" style="width:800px; height:300px;"></div>
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Luminosity</h3>
					</div>
					<div class="panel-body">
						<div id="graphdivLuminosity" style="width:800px; height:300px;"></div>
					</div>
				</div>

				<script type="text/javascript">

					g = new Dygraph(

	    			// containing div
	    			document.getElementById("graphdiv"),
	    			data_temp,
	    			{
	    				ylabel: 'Temperature (Cº)',
	    				y2label: 'Relative Hmidity (%)',
	    				labels: ["Date", "Temperature", "Humidity"], 
	    				labelsDivStyles: { 'textAlign': 'center' },
	    				colors: ["red", "blue"], 
	    				//showRangeSelector: true,
	    				//strokeWidth: 1.5,
	    				//labelsSeparateLines: true,
	    				rollPeriod: 3,
	    				digitsAfterDecimal: 1,
      					showRoller: true,
      					fillGraph: true,
      					//stepPlot: true,

	    				series : {

	    					Humidity : {
	    						axis : 'y2'
	    					}
	    				}

	    			}
	    			);

					g2 = new Dygraph(

	    			// containing div
	    			document.getElementById("graphdivLuminosity"),
	    			data_lux,
	    			{
	    				ylabel: 'Luminosity (Lux)',
	    				labels: ["Date", "Luminosity"], 
	    				labelsDivStyles: { 'textAlign': 'center' },
	    				colors: ["black"], 
	    				//showRangeSelector: true,
	    				//strokeWidth: 1.5,
	    				//labelsSeparateLines: true,
	    				rollPeriod: 1,
	    				digitsAfterDecimal: 1,
      					showRoller: true,
      					fillGraph: true,
      					drawPoints: true,
      					//stepPlot: true,
	    			}
	    			);
					{% cache 60*5 %}
					function data_temp() {
						return "" +

						{% for points in data.TempHumid %}
							"{{points[0]}}, {{points[1]}}, {{points[2]}}\n" +
						{% endfor %}
						
						"";
					}

					function data_lux() {
						return "" +

						{% for points in data.Luminosity %}
							"{{points[0]}}, {{points[1]}}\n" +
						{% endfor %}
						
						"";
					}
					{% endcache %}
				</script>

			</div>
		</div>
	</div>
	{% endblock %}