{% extends "base.html" %}

{% block content %}

<div class="well well-lg" style="max-width:900px;">		
	<div class="row">

		<h2><b>Ambient</2></h3>


		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title"><b>Temperature</b></h3>
				</div>
				<div class="panel-body">
					<h3>{{temp}} ºC </h3>
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title"><b>Relative Humidity</b></h3>
				</div>
				<div class="panel-body">
					<h3>{{humid}} %</h3>
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title"><b>Last Update</b></h3>
				</div>

				<div class="panel-body">
					<h3>{{last_update}}</h3>
				</div>

			</div>
		</div>



		<div class="col-md-4">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title"><b>Luminosity</b></h3>
				</div>

				<div class="panel-body">
					<h3>{{lux}} Lux</h3>
				</div>

			</div>
		</div>
		

		<div class="col-md-4">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title"><b>Current</b></h3>
				</div>

				<div class="panel-body">
					<h3>{{current}} Watts</h3>
				</div>

			</div>
		</div>

    {% if g.user.username %}
		<div class="col-md-4">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title"><b>AC control</b></h3>
				</div>

				<div class="panel-body">
					<form method="POST">

						{% if speed == 0 %}
						<button type="submit" name="AC_OFF" class="btn btn-primary btn-lg disabled">
  							<h5><b>OFF</b></h5>
						</button>
						{% else %}
						<button type="submit" name="AC_OFF" class="btn btn-default btn-lg">
  							<h5><b>OFF</b></h5>
						</button>
						{% endif %}

						{% if speed == 1 %}
						<button type="submit" name="AC_1" class="btn btn-success btn-lg disabled">
  							<h5><b>1</b></h5>
						</button>
						{% else %}
						<button type="submit" name="AC_1" class="btn btn-default btn-lg">
  							<h5><b>1</b></h5>
						</button>
						{% endif %}

						{% if speed == 2 %}
						<button type="submit" name="AC_2" class="btn btn-warning btn-lg disabled">
  							<h5><b>2</b></h5>
						</button>
						{% else %}
						<button type="submit" name="AC_2" class="btn btn-default btn-lg">
  							<h5><b>2</b></h5>
						</button>
						{% endif %}

						{% if speed == 3 %}
						<button type="submit" name="AC_3" class="btn btn-danger btn-lg disabled">
  							<h5><b>3</b></h5>
						</button>
						{% else %}
						<button type="submit" name="AC_3" class="btn btn-default btn-lg">
  							<h5><b>3</b></h5>
						</button>
						{% endif %}
					<form>
				</div>

			</div>
		</div>

		<h2><b>Presence</2></h3>
		
		<table class="table table-condensed table-bordered">

  			<thead>
  				<tr>
      				<th>Username</th>
      				<th>Device</th>
    			</tr>
  			</thead>

  			{% for device in present_devices %}
  				<tr class="success">
  					<td>User Xpto</td>
					<td>{{device}}</td>
				</tr>
			{% endfor %}

		</table>

    {% endif %}
    
</div>

{% endblock %}
