{% if g.user.username %}
<div class="well well-lg" style="max-width:900px;">
    <h3><b>Logs</b></h3>
    <div class="row">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>User</th>
                    <th>Message</th>
                </tr>
            </thead>
            {% for log in logs %}
            <tr>
                <td class="text-left">{{ log[0] }}</td>
                <td class="text-left">{{ log[1] }}</td>
                <td class="text-left">{{ log[2].encode('ascii', 'ignore') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}