<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
            <b>Add Rule</b>
            </h3>
        </div>
        <div class="panel-body">
            <form method="POST">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Rule Name
                            </th>
                            <th class="text-center">
                                If Event (and)
                            </th>
                            <th class="text-center">
                                then Action
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="text-center"><span class="font14 label label-primary" linehight="1">LightsUP when Dark</span></td>
                        <td class="text-center">
                            <span class="font14 label label-primary">Office is Dark</span>
                            <span class="font14 label label-primary">I'm in the Office</span>
                        </td>
                        <td class="text-center"><span class="font14 label label-primary">Turn All Lights ON</span></td>
                        <td class="text-center"><button class="btn btn-danger" name="Delete_Rule" type="submit"><span class="octicon octicon-circle-slash"></td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <input type="text">
                        </td>
                        <td id="addEvent" class="text-center">
                            <select data-placeholder="Choose Event ..." style="min-width:200px;" multiple class="chosen-select">
                                <option value="x">I'm in the Office</option>
                                <option value="x">Office is Cold</option>
                                <option value="x">It's Raining</option>
                                <option value="x">Solar Flare</option>
                            </select>
                            
                        </td>
                        <td class="text-center">
                            <select>
                                <option value="x">Turn All Lights ON</option>
                                <option value="x">Set Setpoint to 22</option>
                                <option value="x">Set Setpoint to 10</option>
                                <option value="x">Explode Door</option>
                            </select>
                        </td>
                        <td class="text-center"><button class="btn btn-success" name="Add_Rule" type="submit"><span class="octicon octicon-plus"></span></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
            <b>Add Event</b>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">
                            Event Alias
                        </th>
                        <th class="text-center">
                           If
                        </th>
                        <th class="text-center">
                           Condition
                        </th>
                        <th class="text-center">
                            Argument (aux)
                        </th>
                    </tr>
                </thead>

                <tr>
                    <td class="text-center">
                        <input type="text">
                    </td>

                    <td class="text-center">
                        <select name="Event_Name"  rv-value="app.selectedEvent">
                            {% for event in g.user.manager.eventTyeps.EVENT_LIST %}
                                <option value="{{event.name}}">
                                    {{event.name}}
                                </option>
                            {% endfor %}
                        </select>
                    </td>

                    <td class="text-center">
                        {% for event in g.user.manager.eventTyeps.EVENT_LIST %}
                            <div name="{{event.name}}" rv-show="app.selectedEvent | eq {{event.name}}">
                                <select name="Event_Condition">
                                {% for cond_name, symbol in event.conditions.items() %}
                                    <option value="{{cond_name}}">
                                        {{symbol}}
                                    </option>
                                {% endfor %}    
                                </select>
                            </div>
                        {% endfor %}
                    </td>

                    <td class="text-center">
                        {% for event in g.user.manager.eventTyeps.EVENT_LIST %}
                            <div rv-show="app.selectedEvent | eq {{event.name}}">

                                {% if event.argument%}
                                    {% for name,type in event.argument.items() %}
                                        <input type="{{type}}" name="{{name}}">{{event.unit}}
                                    {% endfor %}
                                {% endif%}
                                
                            </div>
                        {% endfor %}
                    </td>


                    <td class="text-center">
                        <button class="btn btn-success" name="Add_Event" type="submit"><span class="octicon octicon-plus"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>



    <script>
        $(".chosen-select").chosen({disable_search_threshold: 10});
        
        rivets.formatters.eq = function(value, arg) {
        return value == arg;
        };
        
        var app = {
            changeEvent: function(e) {
                setTimeout(function(){
                    alert(e.options[e.selectedIndex].value)
                },50)
            },
            selectedEvent: ""
        }
        
        rivets.bind($('body')[0],{app:app});

        //function changeEvent(e) {
        //    var Do = e.options[e.selectedIndex].value
        //}
    </script>