{% extends "base.html" %}

{% block content %}

	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
	
	<!--<script language="javascript" type="text/javascript" src="/static/js/jquery.jqplot.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.jqplot.min.css" />

	<script type="text/javascript" src="/static/js/jqplot.cursor.min.js"></script>
	<script type="text/javascript" src="/static/js/jqplot.dateAxisRenderer.min.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function(){
  var line1 = [['00:00:00', 19.221], ['00:10:00', 30.8]];
      
  var plot1 = $.jqplot('chart1', [line1], { 
      title: 'Google, Inc.', 
      series: [{ 
          label: 'Google, Inc.', 
          neighborThreshold: -1 
      }], 
      axes: { 
          xaxis: { 
              renderer: $.jqplot.DateAxisRenderer,
              min:'00:00:00', 
              tickInterval: '1 hour', 
              tickOptions:{formatString:'%Y/%#m/%#d'} 
          }, 
          yaxis: { 
              tickOptions:{formatString:'%.2f ºC'} 
          } 
      }, 
      cursor:{ 
        show: true,
        zoom:true, 
        showTooltip:false
      } 
  });
 
  $('.button-reset').click(function() { plot1.resetZoom() });
});
	</script>
	-->
	
	
	<h1>Hi, {{user.nickname}}!</h1>
	
	 <div id="chart1" style="width:600px; height:250px;"></div>
	
	
	
	
	
{% for post in posts %}
	<div><p>{{post.author.nickname}} says: <b>{{post.body}}</b></p></div>
{% endfor %}
{% endblock %}


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
